.Menu {
    position: fixed;
    background: #fff;
    border-right: 2px solid #ccc;
    border-radius: 0 5px 5px 0;
    width: 70px;
    height: 100%;
}

.Menu nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.Menu nav ul {
    padding-left: 10px;
    margin: 0;
    display: flex;
}

.Menu nav ul p {
    display: none;
}

.Menu nav ul:hover p {
    display: block;
    margin: auto;
}

.Menu nav ul:hover {
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
    background: #fff;
    text-align: center;
}

.Menu nav ul a {
    color: #000;
    max-width: max-content;
}

.Menu nav ul a img {
    width: 50px;
    padding: 5px 5px 5px 0;
}